BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: AfterColon
BreakBeforeComma: false # Ensure commas stay at the end of the line
BreakBeforeBraces: Allman

IndentWidth: 4
ColumnLimit: 0 # Allows unlimited column width (helps alignment)
